<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head.ejs') %>
    <title>Document</title>
</head>
<body>
    <h1>Recipes</h1>
    <% recipes.forEach(recipe => { %>
        <h2><%= recipe.title %></h2>
        <img src="<%= recipe.image %>">
        <h3>Ingredients you have</h3>
        <% recipe.usedIngredients.forEach(ingredient => { %>
            <ul>
                <li>
                    <img src="<%= ingredient.image %>">
                    <%= ingredient.amount %>
                    <%= ingredient.unit %>
                    <%= ingredient.unit != "" ? " " : "" %>
                    <%= ingredient.name %>
                </li>
            </ul>
        <% }); %>
        <h3>Ingredients to buy</h3>
        <% recipe.missedIngredients.forEach(ingredient => { %>
            <ul>
                <li>
                    <img src="<%= ingredient.image %>">
                    <%= ingredient.amount %>
                    <%= ingredient.unit %>
                    <%= ingredient.unit != "" ? " " : "" %>
                    <%= ingredient.name %>
                </li>
            </ul>
        <% }); %>
    <% }); %>
</body>
</html>